In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('vietnam_housing_dataset.csv')

df.head()

,Address,Area,Frontage,Access Road,House direction,Balcony direction,Floors,Bedrooms,Bathrooms,Legal status,Furniture state,Price
0,"Dự án The Empire - Vinhomes Ocean Park 2, Xã L...",84.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,Have certificate,NaN,8.60
1,"Dự án The Crown - Vinhomes Ocean Park 3, Xã Ng...",60.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,7.50
2,"Dự án The Crown - Vinhomes Ocean Park 3, Xã Ng...",90.0,6.0,13.0,Đông - Bắc,Đông - Bắc,5.0,NaN,NaN,Sale contract,NaN,8.90
3,"Đường Nguyễn Văn Khối, Phường 11, Gò Vấp, Hồ C...",54.0,NaN,3.5,Tây - Nam,Tây - Nam,2.0,2.0,3.0,Have certificate,Full,5.35
4,"Đường Quang Trung, Phường 8, Gò Vấp, Hồ Chí Minh",92.0,NaN,NaN,Đông - Nam,Đông - Nam,2.0,4.0,4.0,Have certificate,Full,6.90

In [18]:
df = df.drop(columns=['House direction', 'Balcony direction'])

df.head()

,Address,Area,Frontage,Access Road,Floors,Bedrooms,Bathrooms,Legal status,Furniture state,Price
0,"Dự án The Empire - Vinhomes Ocean Park 2, Xã L...",84.0,NaN,NaN,4.0,NaN,NaN,Have certificate,NaN,8.60
1,"Dự án The Crown - Vinhomes Ocean Park 3, Xã Ng...",60.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,7.50
2,"Dự án The Crown - Vinhomes Ocean Park 3, Xã Ng...",90.0,6.0,13.0,5.0,NaN,NaN,Sale contract,NaN,8.90
3,"Đường Nguyễn Văn Khối, Phường 11, Gò Vấp, Hồ C...",54.0,NaN,3.5,2.0,2.0,3.0,Have certificate,Full,5.35
4,"Đường Quang Trung, Phường 8, Gò Vấp, Hồ Chí Minh",92.0,NaN,NaN,2.0,4.0,4.0,Have certificate,Full,6.90

In [19]:
df['Address'] = df['Address'].str.split(', ').str[-1].str.strip().str.split('.').str.get(0)

df['Address'].unique()

array(['Hưng Yên', 'Hồ Chí Minh', 'Hà Nội', 'Quảng Ninh', 'Bình Dương',
       'Phú Thọ', 'Hải Dương', 'Long An', 'Kiên Giang', 'Bình Thuận',
       'Hải Phòng', 'Hà Nam', 'Bà Rịa Vũng Tàu', 'Hồ Chí Minh giá 2tỷ380',
       'Đắk Lắk', 'Bắc Ninh', 'Thanh Hóa', 'Khánh Hòa', 'Đà Nẵng',
       'Thái Nguyên', 'Quảng Trị', 'Đồng Nai', 'Tuyên Quang',
       'Ninh Thuận', 'Nghệ An', 'Cần Thơ', 'Thái Bình', 'Bắc Giang',
       'Lâm Đồng', 'Trà Vinh', 'Bình Phước', 'Quảng Nam', 'Hòa Bình',
       'Thừa Thiên Huế', 'Sơn La', 'Bình Định', 'Vĩnh Phúc', 'Tây Ninh',
       'Tiền Giang', 'Hà Tĩnh', 'Lạng Sơn', 'Hà Nội', 'Lào Cai',
       'Điện Biên', 'Gia Lai', 'Đường số 11', 'Phú Yên', 'Bến Tre',
       'Quận Bình Thạnh', 'An Giang', 'TPHCM', 'TpHCM',
       'Phòng công chứng Nguyễn Thị Thành', 'Quảng Ngãi', 'Hà Giang',
       'HN', 'Nam Định', 'Sóc Trăng', 'Ninh Bình', 'Yên Bái', 'Cà Mau',
       'Bạc Liêu',
       'Bán nhà chính chủ Phó Đức Chính khu Bà Chiểu - trung tâm Bình Thạnh giá cực tốt',
       'TP', 'giá 6ty', 'Bình Dương (gần cafe Xóm Vắng 2)', 'Vĩnh Long',
       'Đồng Tháp', 'Hậu Giang', 'Quảng Bình', 'Hai Bà Trưng,',
       'Hồ Chí Mính', 'Quận Nam Từ Liêm', 'Quận 8', 'Kon Tum',
       'TP Hồ Chí Minh', 'Quảng Ninh (Ngã 3 đường Hòn Gai cũ)'],
      dtype=object)

In [20]:
import unicodedata

df['Address'] = df['Address'].apply(lambda x: unicodedata.normalize('NFC', x))

In [ ]:
df['Address'] = df['Address'].apply(lambda x: 'Hà Nội' if x in ['HN', 'Quận Nam Từ Liêm', 'Hai Bà Trưng,']
                                               else 'Hồ Chí Minh' if x in ['Hồ Chí Minh giá 2tỷ380', 'Đường số 11', 'Quận Bình Thạnh',
                                                                     'TPHCM', 'TpHCM', 'Phòng công chứng Nguyễn Thị Thành',
                                                                     'Bán nhà chính chủ Phó Đức Chính khu Bà Chiểu - trung tâm Bình Thạnh giá cực tốt',
                                                                     'Hồ Chí Mính', 'Quận 8', 'TP Hồ Chí Minh']
                                               else x)

In [26]:
df['Address'] = df['Address'].apply(lambda x: 'Hanoi' if 'Hà Nội' in x else 'Ho Chi Minh City' if 'Hồ Chí Minh' in x else 'Others')
df['Address'].unique()

array(['Others', 'Ho Chi Minh City', 'Hanoi'], dtype=object)

In [29]:
df = df.rename(columns={'Address': 'City'})

df.head(20)

,City,Area,Frontage,Access Road,Floors,Bedrooms,Bathrooms,Legal status,Furniture state,Price
0,Others,84.0,NaN,NaN,4.0,NaN,NaN,Have certificate,NaN,8.60
1,Others,60.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,7.50
2,Others,90.0,6.0,13.0,5.0,NaN,NaN,Sale contract,NaN,8.90
3,Ho Chi Minh City,54.0,NaN,3.5,2.0,2.0,3.0,Have certificate,Full,5.35
4,Ho Chi Minh City,92.0,NaN,NaN,2.0,4.0,4.0,Have certificate,Full,6.90
5,Others,91.0,7.0,13.0,NaN,NaN,NaN,Have certificate,NaN,9.80
6,Others,64.0,4.0,NaN,5.0,NaN,NaN,NaN,NaN,7.20
7,Hanoi,74.0,5.0,18.0,5.0,4.0,5.0,Have certificate,NaN,9.90
8,Others,48.0,NaN,NaN,5.0,6.0,NaN,NaN,Basic,5.70
9,Others,91.0,7.0,NaN,5.0,NaN,NaN,Have certificate,NaN,9.50
10,Others,80.0,5.0,13.0,5.0,6.0,6.0,Have certificate,NaN,10.00
11,Others,70.0,6.0,13.0,5.0,6.0,NaN,NaN,NaN,9.80
12,Others,60.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,8.90
13,Others,91.0,NaN,NaN,NaN,NaN,NaN,Have certificate,NaN,8.60
14,Others,96.0,6.0,13.0,4.0,NaN,NaN,Sale contract,NaN,9.60
15,Ho Chi Minh City,30.0,NaN,NaN,2.0,2.0,2.0,Have certificate,Full,3.79
16,Others,300.0,15.0,32.0,3.0,6.0,3.0,Have certificate,Full,9.40
17,Others,91.0,7.0,17.0,NaN,NaN,NaN,NaN,Basic,10.00
18,Others,65.0,5.0,20.0,5.0,5.0,4.0,Sale contract,NaN,7.80
19,Ho Chi Minh City,46.0,4.6,6.0,4.0,4.0,5.0,Have certificate,Full,7.99

In [31]:
df.to_csv('powerbi_dataset.csv', index=False)